In [1]:
import tkinter
import os
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
from tkinter import filedialog
import copy
import traceback
import mysql.connector

In [4]:
import mysql.connector

cnx = mysql.connector.connect(user='Adrian', password='B3Tuser!2',
                              host='localhost')
cnx.close()

In [5]:
type(cnx)

mysql.connector.connection_cext.CMySQLConnection

In [13]:
mydb = mysql.connector.connect(
  host="localhost",
  user="Adrian",
  password="B3Tuser!2")

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('world',)

In [15]:
mycursor.execute("DROP DATABASE test")

In [16]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)